// =======================
// DEFAULT PARAMETERS
// =======================
params {
    reads = null
    sra_id = null
    samplesheet = null
    reference = null
    outdir = "results"
    save_mpileup = false
    conda_env = null
    container = 'chaosintoorder/hw3-pipeline:latest'
}

// =======================
// DEFAULT PROCESS SETTINGS
// =======================
process {
    cpus = 4
    memory = '8 GB'
    time = '4h'
    errorStrategy = 'retry'
    maxRetries = 3

    withName: 'BCFTOOLS_MPILEUP' {
        publishDir = [
            path: { "${params.outdir}/variants" },
            mode: 'copy'
        ]
    }

    withName: 'index_reference' {
        publishDir = [
            path: { "${params.outdir}/reference" },
            mode: 'copy'
        ]
    }

    withName: 'filter_variants' {
        publishDir = [
            path: { "${params.outdir}/filtered_variants" },
            mode: 'copy'
        ]
    }

    withName: 'plot_coverage' {
        publishDir = [
            path: { "${params.outdir}/coverage" },
            mode: 'copy'
        ]
    }

    withName: 'fastqc' {
        publishDir = [
            path: { "${params.outdir}/qc" },
            mode: 'copy'
        ]
    }

    withName: 'fetch_reads' {
        publishDir = [
            path: { "${params.outdir}/raw_reads" },
            mode: 'copy'
        ]
    }

    withName: 'trimm' {
        publishDir = [
            path: { "${params.outdir}/trimmed_reads" },
            mode: 'copy',
            pattern: "*_p.fastq"
        ]
    }
}

// =======================
// PROFILES
// =======================
profiles {
    local {
        process {
            cpus = 4
            memory = '2 GB'
            time = '8h'
            conda = params.conda_env ?: '/home/student/miniconda3/envs/hw3'
        }
        conda.enabled = true
        docker.enabled = false
    }

    cluster {
        process {
            executor = 'slurm'
            cpus = 16
            memory = '64 GB'
            time = '48h'
            queue = 'normal'
            conda = "${projectDir}/environment.yml"
        }
        conda.enabled = true
        docker.enabled = false
    }

    container {
        process {
            cpus = 4
            memory = '16 GB'
            time = '8h'
            container = params.container
        }
        conda.enabled = false
        docker.enabled = true
        docker.runOptions = '--rm --platform linux/amd64'
    }
}